<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./css/all.css">
  <link rel="stylesheet" href="./css/fonts.css">
  <link rel="stylesheet" href="./css/main-style.css">
  <link rel="stylesheet" href="./css/owl.carousel.min.css">
  <link rel="stylesheet" href="./css/owl.theme.default.min.css">
  <link rel="stylesheet" href="./css/aos.css">
  <link rel="stylesheet" href="./css/style.scss">
</head>
<body>
  <div class="nav">
    <div class="nav-menu flex-row">
      <div class="nav-brand">
        <a href="" class="test-gray">FICTIONAIRES</a>
      </div>
      <div class="toggle-collapse">
        <div class="toggle-icons">
          <i class="fas fa-bars"></i>
        </div>
      </div>
      <div>
        <ul class="nav-items" >
          <li class="nav-link"><a href="#">welcome</a></li>
          <li class="nav-link"><a href="#">Hospitality</a></li>
          <li class="nav-link"><a href="#">Agriculture</a></li>
          <li class="nav-link"><a href="#">recreation</a></li>
          <li class="nav-link"><a href="#">equestrians</a></li>
        </ul>
      </div>
      <div class="social-icons">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="main-content"></div>
    <div class="side-bar"></div>
    <div class="ads"></div>
  </div>
  <script src="./scripts/jquery3.4.1.min.js"></script>
  <script src="./scripts/aos.js"></script>
  <script src="./scripts/owl.carousel.min.js"></script>
  <script src="./css/main-style.css"></script>
</body>
</html>