.Books-reviews{
  background: #464646 !important;
}
.book-p{
color: white;
}
.book-a{
color:#060614;
text-align: center !important;
}
.book-h1 {
background-blend-mode: soft-light;
background-color: whitesmoke;
}