section{
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: #333;
  color: #3700ff;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}



.container{
  text-align: center;
  padding: 2rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #fff;
  flex: 0, 0 80%;

}
#quoteBtn{
  border: none;
  color: #fff;
  background: #d89156;
  font-size: 1.3rem;
  padding: .25rem .5rem;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  cursor: pointer;
  outline: none;
  font-weight: bolder;
}
#quoteBtn:hover{
  color: #1077fd;
background: rgba(0, 0, 0, 1.71);
}
#quoteBtn:focus{
box-shadow: 1px 1px 1px 10px solid #ffd000;
}
blockquote{
  background: #f9f9f9;
  border-left: 10px solid #fcdbbf;
  margin: 1.4rem;
  padding: .5rem;
}
#quoteAuthor{
  color: #ffd000;
}

