@import url(../CSS/fonts.css);



html,body{
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background: rgb(246, 237, 237)
  
}
/* -------------------variables--------------------------------------- */
:root{
  /* ---------------theme---------font-family----------------------------- */
  --Abel:'Abel',cursive;
  --Anton:'Anton',cursive;
  --josefin:'josefin',cursive;
  --lexand:'lexand',cursive;
  --Livic:'livic',cursive;
  
  /* --------------------------colors-------------------------------------------- */
  --text-gray:#3f4954;
  --text-light:#686666da;
  --bg-color:#0f0f0f;
  --white:#ffffff;
  --midnight:#104f55;
  /* -----------------------------gradient color--------------------------------------------- */
  --sky:linear-gradient(180deg, #2af598 0%, #76b3da 100%);
}
/* --------x-----------variables----------------x----------------------- */
/* ----------------------Global classes------------------------------------ */
a{
  text-decoration: none;
  text-align: center;
  color: var(--text-gray);
}
.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
h1{
  font-family: var(--lexand);
  font-size: 2.5rem;
}
h2{
  font-family: var(--lexand);
}
h3{
  font-family: var(--Abel);
  font-size: 1.3rem;
}
button.btn{
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;     
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-family: var(--Livic);
  cursor: pointer;
}
span{
  font-family: var(--Abel);
}
.container{
  margin: 0 5vw;
}
.text-gray{
  color: var(--text-gray);
}
p{
  font-family: var(--lexand);
  color: var(--text-light);
}
/* -------------x---------Global classes----------------x------------------- */
/* ------------------nav bar------------------------------------------------ */
.nav{
  background:white;
  padding: 0 2rem;
  height: 0rem;
  min-height: 10vh;
  overflow: hidden;
  transition:height 1s ease-in-out ;
  -webkit-transition:height 1s ease-in-out ;
  -moz-transition:height 1s ease-in-out ;
  -ms-transition:height 1s ease-in-out ;
  -o-transition:height 1s ease-in-out ;
}
nav .nav-items{
  display: flex;
  margin: 0;
}
.nav .nav-items .nav-link{
  padding: 1.6rem;
  font-size: 1.1rem;
  position: relative;
  font-family: var(--Abel);
  font-size: 1.6rem;
  text-transform: uppercase;
  
}
.nav .nav-items .nav-link:hover{
  background: var(--midnight);
}
.nav .nav-items .nav-link a:hover{
  color: var(--white);
}
.nav .nav-menu{
  justify-content: space-between;
}
.nav .toggle-collapse{
  position: absolute;
  top: 0%;
  width: 90%;
  cursor: pointer;
  display: none;
}
.nav .toggle-collapse .toggle-icons{
  display: flex;
  justify-content: flex-end;
  padding: 1.7rem 0;
}
.nav .toggle-collapse .toggle-icons i{
  font-size: 1.4rem;
  color: var(--text-gray);
}

.collapse{
  height: 35rem;
}
.nav .nav-brand a{
  font-size: 1.6rem;
  padding: 1.2rem 0;
  margin-bottom: 0rem;
  display: block;
  font-family:var(--lexand);
  font-size: 1.6rem;
}

.nav .social{
  padding: 1.4rem 0;
}
.nav .social li{
  padding: 0.2rem;
  
}
.nav .social i:hover{
  color: #a1c4cf;
}


/* ----------x--------nav bar-------------------------x----------------------- */
/* ------------------Main Content----------------------------------- */

/* --------------site title---------------------- */

.site-title{
 /* background-image: url('../asserts/white-ceramic-teacup-with-saucer-near-two-books-above-gray-904616.jpg'); */
background-image: url('../asserts/SAMSOLOGY-BG.jpg');
  background-size: cover;
  background-position: bottom;
  height: 110vh;
  display: flex;
  justify-content: center;
}

.site-background{
  padding-top:  10rem;
  text-align: center;
  color: var(--white);
}
.site-title h1,h3{
  background: rgba(0, 0, 0,.25);
  margin: .3rem;
  
}
.site-title h3{
  font-size: 2rem;
  color: var(--white);
}
.site-title .btn{
  margin: 1.8rem;
  background: var(--sky);
  font-size: 2rem;
}
.site-title .btn:hover{
  background: transparent;
  background-origin: 1px solid white;
  color: white;
}


/* ---------x-----site title-----------x----------- */
/* --------Blog-carousel------------------------------------------- */
.blog{
  background: url(none);
  background-repeat: no-repeat;
  background-size: 85%;
  background-position: right;
  height: 100vh;
  width: 100%;
}

.blog .blog.post{
  padding-top: 6rem;
  
}
.blog-post .blog-content{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 3rem 2rem;
  box-shadow: 0 15px 20px rgba(0, 0,0, 0.2);
}
.blog-content .blog-title{
  padding: 2rem 0;
}
.blog-content .btn-blog{
  padding: .7rem 2rem;
  background:var(--sky);
  margin: .5rem;
}
.blog-content span{
  display: block;
}

.owl-nav{
  position: absolute;
  top: 0%;
  margin: 0 auto;
  width: 100%;
}
.owl-nav .owl-nav-prev .owl-nav-prev,
.owl-nav .owl-nav-next .owl-nav-next{
  color: var(--midnight);
  background: transparent;
  font-size: 2rem;
  
}

.owl-theme .owl-nav [class*='owl-']:hover{
  background: transparent;
  color: var(--text-gray);
}

/* ---------x-------blog-carousel---------------------x---------------------- */

/* ---------------site content------------------------------------- */

.site-content{
  display: grid;
  grid-template-columns: 70% 30%;
}

.post-content{
  width: 100%;
}
.site-content .post-content>.post-images,.post-title{
  padding: 1rem 2rem;
  position: relative;
}
.site-content .post-content>.post-images>.post-info{
  background: var(--sky);
  padding: 1rem;
  position: absolute;
  bottom: 0%;
  left: 15vw;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}
.site-content.post-content>.post-images>div{
  overflow: hidden;
  
}
.img{
  width: 100%;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
}
.img:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.post-info span{
  margin: .5rem;
}
.post-title a{
  font-family: var(--Anton);
  font-size: 1.5rem;
}
.btn-post{
  border-radius: 0%!important;
  -webkit-border-radius: 0%!important;
  -moz-border-radius: 0%!important;
  -ms-border-radius: 0%!important;
  -o-border-radius: 0%!important;
  padding: .7rem 1.5rem;
  background: var(--sky);
}
.pagnination{
  justify-content: center;
  color: var(--text-gray);
  margin: 1rem 0;
  
}
.pagnination a{
  padding: .6rem .9rem;
  margin: .5rem;
  border-radius: 2rem;
  font-family: var(--lexand);
}
.pagnination .pages{
  background: var(--midnight);
  color: var(--white);
}
/* ---------------site content-------------------------------========== */

/* ---------------side bar--------------------------------- */
.category-list{
  font-family: var(--Livic);
  
}
.category h2{
  text-align: center;
}
.list-items{
  background:var(--sky);
  padding: .4rem 1rem;
  margin: 0.8rem 0;
  width: 70%;
  display: flex;
  border-radius:3rem ;
  justify-content: space-around;
}
.list-items a{
  color: black;
  font: 700;
  font-weight: bolder;
}
.list-items:hover{
  background: var(--midnight);
  transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
}
.popular-post{
  padding: 1rem 0;
}
.popular-post h2{
  padding-top: 8rem;
  text-align: center;
  border-bottom: 1px solid;
}
.post-infoo{
  padding: .2rem .1rem!important;
  bottom: 0rem !important;
  left: 1.5rem !important;
  border-radius:0rem !important;
  -webkit-border-radius:0rem !important;
  -moz-border-radius:0rem !important;
  -ms-border-radius:0rem !important;
  -o-border-radius:0rem !important;
  background:var(--white)!important;
}
.posti-title a{
  font-size: 1rem;
  text-align: center;
}
.posti-title a:hover{
  background: #000;
}
/* ====newsletter=========== */
.newsletter{
  padding-top: 3rem;
  
}
.newsletter .form-element{
  padding: .5em 2rem;
}
.newsletter .input-element{
  width: 50%;
  height: 1.9rem;
  padding: .3rem 5rem;
  font-family: var(--lexand);
  font-size: 1rem;
}
.btn.form-btn{ border-radius: 0;
  -webkit-border-radius: 0; 
  -moz-border-radius: 0; 
  -ms-border-radius: 0;
  -o-border-radius: 0;
  width: 19.6rem;
  padding: .8rem 32%;
  margin: .5rem 0;
  background:var(--sky);
}
.popular-tags{
  padding-top:5rem 0;
}

.tag{
  background: var(--sky);
  padding: .4rem 1rem;
  border-radius:3rem ;
  margin: .4rem .6rem;
  text-align: center;
}
.tag:hover{
  background: greenyellow;
}


/* ----------------------side bar----------------------------- */






/* -------------------main content------------------------------------ */
/* --------------footer------------------------------ */

.footer{
  height: 100%;
  background: var(--bg-color);
  position: relative;
}
.footer-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  
}
.footer-container h2{
  color:var(--white);
}
.footer-container p,h3{
  color: #c8f2ff;
}
.footer-container>div{
  flex-grow: 1;
  flex-basis: 0;
  padding: 3rem .9rem;
}
.about-us h2{
  color: var(--white);
}

.form-element{
  background: #000;
  display: inline-block;
}
.form-element input{
  padding: .5rem .7rem;
  border: none;
  text-align: center;
  background: transparent;
  font-family: var(--josefin);
  color: var(--white);
  font-size: 1rem;
  border-block-end-style: 1PX groove;
  width: 90%;
}
.form-element{
  background:var(NONE);
  padding: .5rem .7rem;
  cursor: pointer;
}
.form-element .SUBMIT{
  background-color: greenyellow;
  width:100%;
  color: black;
  font-family: var(--josefin);
  font: bolder;
  font-size: 1.5REM;
}
.footer .Quick-links li{
  font-size: 1.5rem;
  background:transparent;
  color: #c8f2ff;
}
.footer .Quick-links li a:hover{
  color: var(--white);
}

.rights{
  justify-items: center;
  text-align: center;
  font-family: var(--josefin);
  font-size: 1.4rem;
  background: #000;
  margin: .4rem .6rem;
}
.rights a{
  color:blue;
}

.move-up{
  position: absolute;
  right: 6%;
  top: 50%;
}
.move-up span{
  color: var(--midnight);
}
.move-up span:hover{
  color: var(--white);
}
/* -----x---------footer-----------------x------------- */
/* =========viewport less than or equal t0 750px=========== */



/* =========viewport less than or equal t0 1130px=========== */
@media only screen and (max-width:1130px){
  .site-content .post-content> .post-images .post-info{
    left: 2rem !important;
    bottom: 1.2rem !important;
    border-radius:0% !important;
    -moz-border-radius:0% !important;
    -ms-border-radius:0% !important;
    -o-border-radius:0% !important;
    -webkit-border-radius:0% !important;
  }
  .post-info{
    display: none!important;
  }
  .footer-container{
    grid-template-columns: repeat(2, 1fr);
  }
  
}

/* ====x=====viewport less than or equal t0 1130px=====x====== */

/* =========viewport less than or equal t0 750px=========== */
@media only screen and (max-width:750px){
  .nav .nav-menu, .nav .nav-items{
    flex-direction: column;
  }
  .nav .toggle-collapse{
    display:initial;
  }
  .site-content{
    grid-template-columns: 100%;
  }
  .footer-container{
    grid-template-columns: 1fr;
  }
}

/* ====x===============viewport less than or equal t0 750px======x===== */

/* =========viewport less than or equal t0 520px=========== */

@media only screen and (max-width:520px){
  .blog{
    height: 125vh;
  }
  .post-info{
    display: none;
  }
  .footer-container>div{
    padding: 1rem .9rem !important;
  }
  .rights{
    padding: 0rem  1.4rem;
    text-align: center;
  }
  .toggle-collapse{
    width: 80%;
  }
  .popular-tags {
    max-width: 100%;
  }
}
/* =====x====viewport less than or equal t0 520px=====x====== */
